n8n/workflows/patch_monitor.json
{
  "name": "Patch Monitor Workflow",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 */6 * * *"
            }
          ]
        }
      },
      "name": "Scheduled Trigger",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "url": "https://ddragon.leagueoflegends.com/api/versions.json",
        "method": "GET",
        "options": {}
      },
      "name": "Get Riot Version",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [500, 200]
    },
    {
      "parameters": {
        "url": "http://backend:8000/api/patch/current",
        "method": "GET",
        "options": {}
      },
      "name": "Get Backend Cached Version",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [500, 400]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "version-mismatch",
              "leftValue": "={{ $json[0] }}",
              "rightValue": "={{ $('Get Backend Cached Version').item.json.version }}",
              "operator": {
                "type": "notEquals",
                "operation": "notEquals",
                "nodeTypes": "string"
              }
            }
          ],
          "options": {}
        },
        "options": {}
      },
      "name": "Version Mismatch?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [750, 300],
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "url": "={{ $credentials.discordWebhook }}",
        "method": "POST",
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "={{ 'TFT Patch **' + $('Get Riot Version').item.json[0] + '** detected! Starting ingest...' }}"
            }
          ]
        },
        "options": {}
      },
      "credentials": {
        "discordWebhook": "discordWebhook"
      },
      "name": "Discord: Ingest Started",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1000, 100]
    },
    {
      "parameters": {
        "url": "http://backend:8000/api/ingest/tft-static",
        "method": "POST",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "credentials": {
        "httpHeaderAuth": "tftBackendApi"
      },
      "name": "Trigger Static Ingest",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1000, 200],
      "onError": [
        {
          "index": 0
        }
      ]
    },
    {
      "parameters": {
        "url": "={{ 'http://backend:8000/api/ingest/patch-notes?patch=' + $('Get Riot Version').item.json[0] }}",
        "method": "POST",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "credentials": {
        "httpHeaderAuth": "tftBackendApi"
      },
      "name": "Trigger Patch Notes Ingest",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1000, 350]
    },
    {
      "parameters": {
        "url": "={{ $credentials.discordWebhook }}",
        "method": "POST",
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": "={{ 'TFT Patch **' + $('Get Riot Version').item.json[0] + '** ingest complete! Static: ' + $('Trigger Static Ingest').item.json.result.status + ' | Patch Notes: ' + $('Trigger Patch Notes Ingest').item.json.status }}"
            }
          ]
        },
        "options": {}
      },
      "credentials": {
        "discordWebhook": "discordWebhook"
      },
      "name": "Discord: Ingest Success",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1250, 200]
    },
    {
      "parameters": {
        "url": "={{ $credentials.discordWebhook }}",
        "method": "POST",
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": ""
            },
            {
              "name": "embeds",
              "value": "[{\"title\":\"TFT Patch Ingest Failed\",\"color\":15158332,\"fields\":[{\"name\":\"Patch\",\"value\":\"{{ $('Get Riot Version').item.json[0] }}\",\"inline\":true},{\"name\":\"Error\",\"value\":\"{{ $json.error.message || 'Unknown error' }}\",\"inline\":false},{\"name\":\"Action\",\"value\":\"Manual intervention required\",\"inline\":false}],\"timestamp\":\"{{ $now.iso }}\"}]"
            }
          ]
        },
        "options": {}
      },
      "credentials": {
        "discordWebhook": "discordWebhook"
      },
      "name": "Discord: Ingest Failed",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1250, 500]
    },
    {
      "parameters": {
        "message": "={{ $json.message || 'No new patch detected' }}"
      },
      "name": "Log: No Change",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1250, 400]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 12 * * *"
            }
          ]
        }
      },
      "name": "MetaTFT Daily Trigger",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [250, 600]
    },
    {
      "parameters": {
        "url": "={{ $json.discordWebhook }}",
        "method": "POST",
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": ":arrows_counterclockwise: **MetaTFT Daily Refresh** started at 12:00 noon..."
            }
          ]
        },
        "options": {}
      },
      "credentials": {
        "discordWebhook": "discordWebhook"
      },
      "name": "Discord: MetaTFT Started",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [500, 550]
    },
    {
      "parameters": {
        "url": "http://backend:8000/api/ingest/metatft",
        "method": "POST",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "options": {}
      },
      "credentials": {
        "httpHeaderAuth": "tftBackendApi"
      },
      "name": "Trigger MetaTFT Ingest",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [750, 550],
      "onError": [
        {
          "index": 0
        }
      ]
    },
    {
      "parameters": {
        "url": "={{ $json.discordWebhook }}",
        "method": "POST",
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": ":white_check_mark: **MetaTFT Daily Refresh** complete! Ingested: {{ $('Trigger MetaTFT Ingest').item.json.total_ingested || 0 }}, Skipped: {{ $('Trigger MetaTFT Ingest').item.json.total_skipped || 0 }}"
            }
          ]
        },
        "options": {}
      },
      "credentials": {
        "discordWebhook": "discordWebhook"
      },
      "name": "Discord: MetaTFT Success",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1000, 500]
    },
    {
      "parameters": {
        "url": "={{ $json.discordWebhook }}",
        "method": "POST",
        "bodyParameters": {
          "parameters": [
            {
              "name": "content",
              "value": ""
            },
            {
              "name": "embeds",
              "value": "[{\"title\":\"MetaTFT Daily Refresh Failed\",\"color\":15158332,\"fields\":[{\"name\":\"Error\",\"value\":\"{{ $json.error.message || 'Unknown error' }}\",\"inline\":false},{\"name\":\"Action\",\"value\":\"Check backend logs for details\",\"inline\":false}],\"timestamp\":\"{{ $now.iso }}\"}]"
            }
          ]
        },
        "options": {}
      },
      "credentials": {
        "discordWebhook": "discordWebhook"
      },
      "name": "Discord: MetaTFT Failed",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [1000, 700]
    }
  ],
  "connections": {
    "Scheduled Trigger": {
      "main": [[
        {"node": "Get Riot Version", "type": "main", "index": 0},
        {"node": "Get Backend Cached Version", "type": "main", "index": 0}
      ]]
    },
    "Get Riot Version": {
      "main": [[{"node": "Version Mismatch?", "type": "main", "index": 0}]]
    },
    "Get Backend Cached Version": {
      "main": [[{"node": "Version Mismatch?", "type": "main", "index": 0}]]
    },
    "Version Mismatch?": {
      "main": [
        [
          {"node": "Discord: Ingest Started", "type": "main", "index": 0}
        ],
        [
          {"node": "Log: No Change", "type": "main", "index": 0}
        ]
      ],
      "errorOutput": [
        [
          {"node": "Discord: Ingest Failed", "type": "main", "index": 0}
        ]
      ]
    },
    "Discord: Ingest Started": {
      "main": [[{"node": "Trigger Static Ingest", "type": "main", "index": 0}]]
    },
    "Trigger Static Ingest": {
      "main": [[{"node": "Trigger Patch Notes Ingest", "type": "main", "index": 0}]],
      "errorOutput": [
        [
          {"node": "Discord: Ingest Failed", "type": "main", "index": 0}
        ]
      ]
    },
    "Trigger Patch Notes Ingest": {
      "main": [[{"node": "Discord: Ingest Success", "type": "main", "index": 0}]],
      "errorOutput": [
        [
          {"node": "Discord: Ingest Failed", "type": "main", "index": 0}
        ]
      ]
    },
    "Discord: Ingest Success": {
      "main": [[]]
    },
    "Discord: Ingest Failed": {
      "main": [[]]
    },
    "Log: No Change": {
      "main": [[]]
    },
    "MetaTFT Daily Trigger": {
      "main": [[
        {"node": "Discord: MetaTFT Started", "type": "main", "index": 0}
      ]]
    },
    "Discord: MetaTFT Started": {
      "main": [[
        {"node": "Trigger MetaTFT Ingest", "type": "main", "index": 0}
      ]]
    },
    "Trigger MetaTFT Ingest": {
      "main": [[
        {"node": "Discord: MetaTFT Success", "type": "main", "index": 0}
      ]],
      "errorOutput": [
        [
          {"node": "Discord: MetaTFT Failed", "type": "main", "index": 0}
        ]
      ]
    },
    "Discord: MetaTFT Success": {
      "main": [[]]
    },
    "Discord: MetaTFT Failed": {
      "main": [[]]
    }
  },
  "active": true,
  "settings": {},
  "id": "patch-monitor"
}
